<% var item = data %>
<% var home = false %>


<div class="layout layout--detail">
  <div class="layout--left">
    <article>
      <header>
        <h6>Course: <%= item.course.title %></h6>
        <h1><%= item.name %></h1>
        <h4>Author: <%= item.owner.login %></h4>
        <p> <%= item.description %> </p>
        
        <div class="ratio">
          <% if (item.owner) { %>
            <picture class='ratio__inner'>
              <source media="(min-width: 650px)" srcset="<%= item.owner.avatar_url %>">
              <source media="(min-width: 465px)" srcset="<%= item.owner.avatar_url %>">
              <img src="<%= item.owner.avatar_url %>" alt="<%= item.owner.login %>" style="width:auto;">
            </picture>
            <% } else {  %>
              <div class='ratio__inner media__fb'></div>
            <% } %>
        
        </div>
      </header>
    
      <section class="fn-readme">
        <nav class='nav-vote'>
          <a href="#" class='nav-vote__item fn-vote-up'>
            <span class='text--large'>🤘</span>(h)
          </a>
          <a href="#" class='nav-vote__item fn-vote-down'>
            <span class='text--large'>🧐</span>(f)
          </a>
        </nav>
      </section>
    </article>
  </div>
  
  <div class="layout--right">
    <aside class="">
      
    </aside>
  </div>
</div>