
<div class='card__container view fn-card' data-id="{{id}}">
  <a class="card card--featured" href="/events/{{id}}" data-navigo >
    <img src="{{img}}" alt="" class='card__img'>
    <div class="card__info">
      
      <h3 class='card__title'>{{time}}: {{title}}</h3>
      <div>
        <span class='card__label label'>{{location}}</span>
      </div>
    </div>
  </a>
  <div class="card__expanded">
    <article class="">
      <p>Dit event begint vandaag. Wees op tijd het kan druk zijn!</p>
      <h3>Mijn tickets ({{tickets.length}})</h3>
      <ol>
        {{#each tickets}}
          <li>
            <a href="/events/{{../id}}/{{pdf}}" data-navigo>{{pdf}}</a>
          </li>
        {{/each}}
      </ol>
      <h3>Beschrijving</h3>
      {{description}}
    </article>
    
  </div>
  
  <nav class='nav nav_event nav--bottom'>
    <a href="/events/{{id}}/{{tickets.0.pdf}}" data-navigo class='button button--accent'>
      <span>Start met tickets scannen</span>
    </a>
  </nav>
</div>
