<a href="/events/{{id}}" class='card view fn-card' data-navigo data-id="{{id}}">
    <img src="{{img}}" alt="" class='card__img'>
    <div class="card__info">
        <h4>{{title}}</h4>
        <p>{{date}} | {{time}}</p>
        <p>{{location}}</p>

        
    </div>

    <div class="card__expanded">

        <!-- <h3>Mijn tickets (2)</h3> -->
        <!-- <article class="">
            {{description}}
        </article> -->

    </div>
</a>
